body {
    background-color: papayawhip;
    color: saddlebrown;
}

img{
    width: 100%; 
    height: 150px;
}

.nulla{
    background-color: lightgreen;
    text-align: center;
}

.piros{
    background-color: rgb(247, 66, 66);
    text-align: center;
}

.lila{
    background-color: rgb(202, 10, 202);
    text-align: center;
}
.feher{
    text-align: center;
}

a{
    color: black;
    
}
a:hover{
    color:black;
}


h1{
    position: relative;
    top: -110px;
    color: black;
    padding-left: 10px;
}

.fajta{
    position: relative;  
    width: 50%;
    height: 50%;
    right: -3%;
}
li{
    border: 1px solid blue;
    margin: 0 50% 0 0;
    padding-bottom: 5px;
    padding-left: 5px;
    text-align: left;
    background-color: white;
    color: black;
}
table,th,td{
    border: 1px solid black;
}
th{
    width: 200px;
    height: 50px;
}
table{
    position: relative;
    right: -620px;
    top: -400px;
}
.mutatas p{
    text-align: left;
    position: relative;
    top: -430px;
    right: -500px;
    width: 700px;

}
.mutatas h2{
    text-align: left;
    position: relative;
    top: -430px;
    right: -500px;
    width: 700px;

}
.csipos p{
    text-align: left;
    position: relative;
    top: -400px;
    width:700px;
    right: -500px;
}
.csipos h2{
    text-align: left;
    position: relative;
    top: -410px;
    width:700px;
    right: -500px;
}


